{% extends 'xadmin/base.html' %}

{% load url from future %}
{% load i18n %}
{% load xadmin_tags %}
{% block bodyclass %}container{% endblock %}

{% block body %}
<header>
    <div class="panel" style="margin-bottom: 10px;box-shadow:none">
        <div class="panel-heading text-center">{% trans 'statistics head' %}</div>
        <form name="form1" action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3 col-sm-3">{% trans "statistics start date" %}: <input type="text" placeholder="2015/05/15" value="{{ startDate.0 }}" id="startpicker" name="startDate"></div>
            <div class="col-md-3 col-sm-3 col-md-offset-1">{% trans "statistics end date" %}: <input type="text" placeholder="2015/05/15" value="{{ endDate.0 }}" id="endpicker" name="endDate"></div>
            <div class="col-md-1 col-sm-1"><input type="submit" name="submit" value="{% trans 'submit' %}"></div>
        </div>
        </form>
    </div>
</header>
<table class="table">
    <thead>
    <tr>
        <th>{% trans 'Province' %}</th>
        <th>{% trans 'Number of city' %}</th>
        <th>{% trans 'The number of villages and towns' %}</th>
        <th>{% trans 'Number of stores' %}</th>
        <th>{% trans 'New stores' %}</th>
        <th>{% trans 'New City' %}</th>
        <th>{% trans 'New Town' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for statistics in data %}
        <tr>
            <td>{{ statistics.provinceName }}</td>
            <td>{{ statistics.numberOfCity }}</td>
            <td>{{ statistics.numberOfTowns }}</td>
            <td>{{ statistics.numberOfStores }}</td>
            <td>{{ statistics.newStores }}</td>
            <td>{{ statistics.newCity }}</td>
            <td>{{ statistics.newTown }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock body %}

{% block extrabody %}
    <script src="{% static 'xadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            var myDate = new Date();
            $('#startpicker').datepicker({
                format: 'yyyy/mm/dd'
            });
            $('#endpicker').datepicker({
                format: 'yyyy/mm/dd'
            });
        });
    </script>
{% endblock %}